
.header {
    margin: 20px 0 50px 0;
}

.header .emergency {
    float: right;
}

.joint {
    clear: both;
    display: block;
    font-size: 120%;
    margin: 5px;
    vertical-align: top;
}

.joint span,
.joint div,
.joint button {
    vertical-align: top;
}

.joint .information {
    display: inline-block;
    width: 40%;
}

.joint .information .title {
    display: inline-block;
    width: 100%;
}

.joint .information .type {
    display: inline-block;
    width: 100%;
    color: gray;
    font-size: 80%
}

.joint .status {
    display: inline-block;
    position: relative;
    width: 59%;
    height: 20px;
    border: 1px gray solid;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    box-shadow: 1px 1px 4px #888888 inset;
}

.joint .status .current,
.joint .status .goal {
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 8px;
    height: 40px;
    border-radius: 5px;
}

.joint .status .current {
    background-color: rgb(53, 126, 189);
    border: 1px rgb(80, 80, 140) solid;
    z-index: 10;
}

.joint .status .goal {
    background-color: rgba(154, 154, 154, 0.5);
    z-index: 1;
}

.joint button {
    margin: 0px 3px;
}

.viewer {
	width: 100%;
	position: relative;
}

.viewer .tools {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: none;
}

.viewer img {
    position: absolute;
    z-index: -100;
    background-color: white;
}

.viewer:hover .tools {
	display: block;
	text-align: right;
}

.viewer canvas {
    border: 1px gray solid;
}

#app-list {
    font-size: 200%;
}

#poselist .list {
    max-height: 700px;
    overflow-y: auto;
}

.list.list-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group-item .list-tools {
    display: none;
    float: right;
    margin-top: -5px;
}

.list-group-item:hover .list-tools,
.list-group-item.editable .list-tools {
    display: block;
}

.list-group-item .list-tools i {
    font-size: 120%;
    margin-left: 5px;
}


.list-group-item.pose-item .list-tools i {
    font-size: 100%;
    margin-left: 5px;
}

.list-group-item .list-tools i.glyphicon-trash {
    color: red;
}

.list-tools .tool {
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border: 1px solid #464545;
    border-radius: 4px;
}

.list-group-item.pose-item {
    cursor: pointer;
}

.list-group-item.apps-item .name {
    font-size: 120%;
}

.list-group-item.apps-item .version {
    font-size: 90%;
    color: gray;
}

.list-group-item.apps-item .description {
    font-size: 90%;
    display: none;
}

.list-group-item.apps-item.expanded .description {
    display: block;
}

.toolbar {
    margin-bottom: 20px;
}

.toolbar .btn {
    margin: 0 3px;
}

.toolbar.right {
    float: right;
    text-align: right;
    display: block;
}

#blockly-workspace .blocklyToolboxDiv {
    background-color: #222;
}

#blockly-workspace .blocklyTreeRow:hover:not(.blocklyTreeSelected) {
    background-color: #444;
}

#console {
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    height: 550px;
    overflow: auto;
    background: black;
    color: green;
    white-space: pre;
    border-radius: 4px;
}

#console.terminated {
    color: gray;
}