
.joint {
    display: block;
    font-size: 120%;
    margin: 5px;
    vertical-align: top;
}

.joint span,
.joint div,
.joint button {
    vertical-align: top;
}

.joint .information {
    display: inline-block;
    width: 160px;
}

.joint .information .title {
    display: inline-block;
    width: 200px;
}

.joint .information .type {
    display: inline-block;
    width: 200px;
    color: gray;
    font-size: 80%
}

.joint .status {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 30px;
    border: 1px gray solid;
    text-align: center;
}

.joint .status .current,
.joint .status .goal {
    display: inline-block;
    position: absolute;
    top: -5px;
    width: 5px;
    height: 40px;
    border: 1px black solid;
}

.joint button {
    margin: 0px 3px;
}


canvas.visualization {
    border: 1px gray solid;
}
